body {
	background-color: #f2f3f4;
}

@media only screen and (max-width: 600px) {
    img {
	text-align: right;
	border: 2px solid #ccc;
    padding: 10px;
    border-radius: 20px;
	height:300px;
	width: 350px;
}
}

@media only screen and (min-width: 601px) {
    img {
	text-align: right;
	border: 2px solid #ccc;
    padding: 10px;
    border-radius: 20px;
	height:450px;
	width: 550px;
}
}
@media only screen and (max-width: 450px) {
    img {
	text-align: right;
	border: 2px solid #ccc;
    padding: 10px;
    border-radius: 20px;
	height:200px;
	width: 250px;
	
}
}
header {
  text-align: center;
  text: bold;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  min-height: 56px;
  transition: min-height 0.3s;
  padding: 1px;
  font-size: 1em;
}
.head {
background-color: #3c5e93;
/* color: #fff; */
}
main {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
 a {
  text-decoration: none;
  color: #616771;
  
}

 a:hover {
  text-decoration: none;
  color: #7d9ed1;
}